In [13]:
def maximum69Number(num):
  #Convert to list so we can iterate
  n_list = list(str(num))
  #IF element is 6, then convert to 9
  #Break loop on first instance of 6
  for i in range(len(n_list)):
    if n_list[i] == "6":
      n_list[i] = "9"
      break
    else:
      pass
  #Convert back to integer, per requirements
  return int(''.join(n_list))

In [14]:
#Test Case 1
num = 9669
maximum69Number(num)

9969

In [15]:
#Test Case 2
num = 9996
maximum69Number(num)

9999

In [16]:
#Test Case 3
num = 9999
maximum69Number(num)

9999