In [27]:
def shuffle(nums, n):
  #Build X list, first n elements of nums
  x_list = []
  for i in range(n):
    x_list.append(nums[i])
  #Create Y list by removing x elements
  del nums[:n]
  #build output list out of combined/zipped x & Y
  #lists
  out = []
  check = zip(x_list, nums)
  for item in check:
    out.append(item[0])
    out.append(item[1])
  return out

In [28]:
nums = [2,5,1,3,4,7]
n = 3
shuffle(nums, n)

[2, 3, 5, 4, 1, 7]

In [29]:
nums = [1,2,3,4,4,3,2,1]
n = 4
shuffle(nums, n)

[1, 4, 2, 3, 3, 2, 4, 1]

In [30]:
nums = [1,1,2,2]
n = 2
shuffle(nums, n)

[1, 2, 1, 2]