In [16]:
def twoOutOfThree(nums1, nums2, nums3):
  #Initialise Output
  out = []
  #Convert inputs too sets for looping
  n1 = set(nums1)
  n2 = set(nums2)
  n3 = set(nums3)
  #Check nums1 against others
  for n in n1:
    if n in n2 or n in n3:
      out.append(n)
    else:
      pass
  #Check nums2 against others
  for n in n2:
    if n in n1 or n in n3:
      out.append(n)
    else:
      pass
  #Check nums3 against others
  for n in n3:
    if n in n1 or n in n2:
      out.append(n)
    else:
      pass
  return list(set(out))

In [17]:
#Test Case 1
nums1 = [1,1,3,2]
nums2 = [2,3]
nums3 = [3]
twoOutOfThree(nums1, nums2, nums3)

[2, 3]

In [18]:
#Test Case 2
nums1 = [3,1]
nums2 = [2,3]
nums3 = [1,2]
twoOutOfThree(nums1, nums2, nums3)

[1, 2, 3]

In [19]:
#Test Case 3
nums1 = [1,2,2]
nums2 = [4,3,3]
nums3 = [5]
twoOutOfThree(nums1, nums2, nums3)

[]