In [17]:
def sumOfMultiples(n):
  #Initialise Output
  out = 0
  #Iterate over numbers in range
  #conditionally add to output if they meet the criteria
  for i in range(n+1):
    if i % 3 == 0:
      out += i
    elif i % 5 == 0:
      out += i
    elif i % 7 == 0:
      out += i
  #produce sum
  return out

In [18]:
n = 7
sumOfMultiples(n)

21

In [19]:
n = 10
sumOfMultiples(n)

40

In [20]:
n = 9
sumOfMultiples(n)

30