In [13]:
def differenceOfSums(n, m):
  #Initialise output variables
  num1 = 0
  num2 = 0
  #Iterate over all values up to
  #n
  for i in range(1,n+1):
    #Conditionally assign to num1 or num2
    #based on divisibility by m
    if i % m == 0:
      num2 += i
    else:
      num1 += i
  #Produce the difference
  return num1 - num2

In [14]:
n = 10
m = 3
differenceOfSums(n,m)

19

In [15]:
n = 5
m = 6
differenceOfSums(n,m)

15

In [16]:
n = 5
m = 1
differenceOfSums(n,m)

-15