In [9]:
def findErrorNums(nums):
  #Initialise Output
  out = []
  #Find element that appears twice in  nums
  for num in nums:
    if nums.count(num) == 2:
      out.append(num)
      break
    else:
      pass
  #Create reference list
  check = [x for x in range(1,len(nums)+1)]
  #Find element from reference that is not in
  #nums
  for num in check:
    if num not in nums:
      out.append(num)
      break
    else:
      pass
  return out

In [10]:
#Test Case 1
nums = [1,2,2,4]
findErrorNums(nums)

[2, 3]

In [11]:
#Test Case 2
nums = [1,1]
findErrorNums(nums)

[1, 2]